
.itemDetail{
  max-width: 750px;
  margin-top: 10px;
}
.card{
  margin: 40px;
  align-self: center;
  align-items: center;
  background-color: rgb(17, 122, 227);
}
.card-img-top{
  margin: 10px;
}
.titulo00{
  text-align: center;
  color: whitesmoke;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card01{
  margin: 40px;
  align-self: center;
  align-items: center;
  background-color: rgb(17, 122, 227);
}

.darkMode{
  background-color: black;
  color: whitesmoke;
}
.cardBody{
  background-color: white;
  margin-bottom: 3px;
  text-align: center;
}
.cardBodyDark {
  background-color: hsl(0, 0%, 33%);
  margin-bottom: 3px;
  text-align: center;
}

.itemDetail {
  max-width: 740px;
  margin-top: 10px;
}

.cardCart {
  max-width: 640px;
}

.cantCarrito {
  position: relative;
  left: 15%;
}

.cartContainer {
  margin-top: 3%;

}


.divForm {
  margin-top: 20px;
}

.cantCarrito{
  position: relative;
  left: 15%;
}





