
.cuerpo1{
    background: linear-gradient(rgb(38, 0, 43), rgb(126, 40, 176));
    display: flex;
    justify-content: space-between;
  
  }
  
  .txtcuerpo{
    text-align: start;
    margin: 31px;
    justify-items: center;
    text-decoration: line-through;
  }
  
  .enlaces{
  align-items: center;
  display: flex;
  justify-content: space-between;
  
  
  
  }
  
  
  .carrito{
    height: 60px;
    width: 60px;
    display: flex;
  }
  .carro{
    justify-content: end;
    margin: 15px;
  }
  
  .ItemList{
    justify-content: center;
    margin-right: 15px;
  }
  
  .Tupi{
    text-decoration-line: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  