body {
  margin: 0;
 padding: 0;
 background-image: url(https://firebasestorage.googleapis.com/v0/b/missbanana-e42f0.appspot.com/o/HD-wallpaper-soft-gradient-solid-color-gradient-abstract.jpg?alt=media&token=448d31e1-d906-4dce-b8e5-4e97e3977c9d);
 background-position:center;
 background-repeat: no-repeat;
 background-size: cover;

}
