body {
  margin: 0;
 padding: 0;
 background-image: url(../public/img/HD-wallpaper-soft-gradient-solid-color-gradient-abstract.jpg);
 background-position:center;
 background-repeat: no-repeat;
 background-size: cover;

}
